<a href="https://colab.research.google.com/github/mani6496/Amazon-Customer-Review/blob/main/AirLine_Passenger_RNN_Model_by_Mani_Bhushan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, SimpleRNN, Dropout

In [ ]:
data = pd.read_csv('/content/airline-passengers - airline-passengers.csv')
data.head()

     Month  Passengers
0  1949-01         112
1  1949-02         118
2  1949-03         132
3  1949-04         129
4  1949-05         121

In [ ]:
data = data['Passengers'].values.reshape(-1, 1)
data

array([[112],
       [118],
       [132],
       [129],
       [121],
       [135],
       [148],
       [148],
       [136],
       [119],
       [104],
       [118],
       [115],
       [126],
       [141],
       [135],
       [125],
       [149],
       [170],
       [170],
       [158],
       [133],
       [114],
       [140],
       [145],
       [150],
       [178],
       [163],
       [172],
       [178],
       [199],
       [199],
       [184],
       [162],
       [146],
       [166],
       [171],
       [180],
       [193],
       [181],
       [183],
       [218],
       [230],
       [242],
       [209],
       [191],
       [172],
       [194],
       [196],
       [196],
       [236],
       [235],
       [229],
       [243],
       [264],
       [272],
       [237],
       [211],
       [180],
       [201],
       [204],
       [188],
       [235],
       [227],
       [234],
       [264],
       [302],
       [293],
       [259],
       [229],
       [203],
       [229],
       [242],
       [233],
       [267],
       [269],
       [270],
       [315],
       [364],
       [347],
       [312],
       [274],
       [237],
       [278],
       [284],
       [277],
       [317],
       [313],
       [318],
       [374],
       [413],
       [405],
       [355],
       [306],
       [271],
       [306],
       [315],
       [301],
       [356],
       [348],
       [355],
       [422],
       [465],
       [467],
       [404],
       [347],
       [305],
       [336],
       [340],
       [318],
       [362],
       [348],
       [363],
       [435],
       [491],
       [505],
       [404],
       [359],
       [310],
       [337],
       [360],
       [342],
       [406],
       [396],
       [420],
       [472],
       [548],
       [559],
       [463],
       [407],
       [362],
       [405],
       [417],
       [391],
       [419],
       [461],
       [472],
       [535],
       [622],
       [606],
       [508],
       [461],
       [390],
       [432]])

In [ ]:
#np.reshape?

In [ ]:
# Normalize the data
scaler=MinMaxScaler(feature_range=(0,1))
data=scaler.fit_transform(data)

In [ ]:
# Split the data into training and testing sets
train_data=data[:int(len(data)*0.7)]
test_data=data[int(len(data)*0.7):]

In [ ]:
# Prepare the data for the RNN
def create_dataset(data, window_size):
    X, y = [], []
    for i in range(len(data) - window_size - 1):
        X.append(data[i:(i + window_size), 0])
        y.append(data[i + window_size, 0])
    return np.array(X), np.array(y)

window_size = 30

In [ ]:
X_train,y_test=create_dataset(train_data,window_size)
X_test, y_test=create_dataset(test_data,window_size)

In [ ]:
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))
X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))

In [ ]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(69, 30, 1)

NameError: ignored

In [ ]:
# initialize the model

model = Sequential()

#add the 1st SimpleRNN layer with the Dropout layer having rate=0.2, units=50
model.add(SimpleRNN(units = 50,return_sequences = True, input_shape = (X_train.shape[1], 1)))
model.add(Dropout(rate = 0.2))

##add 2nd SimpleRNN layer with the Dropout layer having rate=0.2 , units=60
model.add(SimpleRNN(units = 50))
model.add(Dropout(rate = 0.2))

#output layer. The output dimension is 1 since we are predicting 1 price each time.
model.add(Dense(units = 1))

In [ ]:
model.compile(optimizer='adam', loss='mean_squared_error')

In [ ]:
model.fit(X_train, y_train, epochs=100, batch_size=32)

In [ ]:
model.compile(optimizer='sgd', loss='mean_squared_error')

In [ ]:
model.fit(X_train, y_train, epochs=50, batch_size = 32)

In [ ]:
predictions = model.predict(X_test)

In [ ]:
predictions = scaler.inverse_transform(predictions)

In [ ]:
plt.plot(scaler.inverse_transform(test_data[window_size:]), color='red', label='Current Month')
plt.plot(predictions, color='green', label='Next Month')
plt.title('Airline Passengers Prediction')
plt.xlabel('Month')
plt.ylabel('Passengers')
plt.legend()
plt.show()