<a href="https://colab.research.google.com/github/mani6496/Amazon-Customer-Review/blob/main/DecisionTreeAssign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [ ]:
diabet_df=pd.read_csv("/content/drive/MyDrive/python Datasets/diabetes.csv")
diabet_df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
diabet_df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [ ]:
diabet_df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
diabet_df.dropna(inplace=True)

In [ ]:
diabet_df.shape

(768, 9)

In [ ]:
dependent_variable='Outcome'

In [ ]:
independent_variable=['Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']

In [ ]:
x=diabet_df.drop(columns='Outcome',axis=1)
y=diabet_df['Outcome']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=2)

In [ ]:
Diabetes_classifier=DecisionTreeClassifier(criterion='entropy',max_leaf_nodes=9,random_state=0)
Diabetes_classifier.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_leaf_nodes=9, random_state=0)

In [ ]:
y_predicted=Diabetes_classifier.predict(x_test)

In [ ]:
y_predicted[:9]

array([0, 1, 0, 0, 1, 0, 0, 1, 0])

In [ ]:
y_test[:9]

158    0
251    0
631    0
757    1
689    1
573    0
553    0
728    0
183    0
Name: Outcome, dtype: int64

In [ ]:
accuracy_score(y_test,y_predicted)*100

77.05627705627705