<a href="https://colab.research.google.com/github/mani6496/Amazon-Customer-Review/blob/main/DMassign1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
import numpy as np

In [37]:
churn_df=pd.read_csv("/content/drive/MyDrive/python Datasets/customer_churn.csv")

In [38]:
churn_df[['SeniorCitizen','PhoneService','InternetService','TotalCharges']]

      SeniorCitizen PhoneService InternetService TotalCharges
0                 0           No             DSL        29.85
1                 0          Yes             DSL       1889.5
2                 0          Yes             DSL       108.15
3                 0           No             DSL      1840.75
4                 0          Yes     Fiber optic       151.65
...             ...          ...             ...          ...
7038              0          Yes             DSL       1990.5
7039              0          Yes     Fiber optic       7362.9
7040              0           No             DSL       346.45
7041              1          Yes     Fiber optic        306.6
7042              0          Yes     Fiber optic       6844.5

[7043 rows x 4 columns]

In [39]:
churn_df[200:1001]

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
200   9323-HGFWY  Female              0  ...         101.90      2681.15     No
201   8544-GOQSH  Female              0  ...          80.05       1112.3     No
202   3363-DTIVD    Male              0  ...         105.55       7405.5     No
203   7018-WBJNK    Male              0  ...          78.30      1033.95     No
204   9142-KZXOP    Male              0  ...          68.85      2958.95     No
...          ...     ...            ...  ...            ...          ...    ...
996   6641-XRPSU  Female              0  ...          70.00       2416.1    Yes
997   1374-DMZUI  Female              1  ...          94.30       424.45    Yes
998   2545-LXYVJ    Male              0  ...          20.70       1492.1     No
999   3234-VKACU    Male              0  ...          70.30        132.4     No
1000  8357-EQXFO  Female              0  ...          95.35        660.9    Yes

[801 rows x 21 columns]

In [40]:
churn_df.iloc[19:200,1:15]

     gender  SeniorCitizen  ...          StreamingTV      StreamingMovies
19   Female              0  ...                   No                  Yes
20     Male              1  ...                   No                  Yes
21     Male              0  ...  No internet service  No internet service
22     Male              0  ...  No internet service  No internet service
23   Female              0  ...                   No                   No
..      ...            ...  ...                  ...                  ...
195  Female              0  ...                  Yes                   No
196    Male              0  ...  No internet service  No internet service
197    Male              0  ...                  Yes                  Yes
198    Male              0  ...                  Yes                  Yes
199    Male              0  ...  No internet service  No internet service

[181 rows x 14 columns]

In [41]:
churn_df.head(100)

    customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0   7590-VHVEG  Female              0  ...          29.85        29.85     No
1   5575-GNVDE    Male              0  ...          56.95       1889.5     No
2   3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3   7795-CFOCW    Male              0  ...          42.30      1840.75     No
4   9237-HQITU  Female              0  ...          70.70       151.65    Yes
..         ...     ...            ...  ...            ...          ...    ...
95  8637-XJIVR  Female              0  ...          78.95       927.35    Yes
96  9803-FTJCG    Male              0  ...          66.85       4748.7     No
97  0278-YXOOG    Male              0  ...          21.05       113.85    Yes
98  3212-KXOCR    Male              0  ...          21.00       1107.2     No
99  4598-XLKNJ  Female              1  ...          98.50       2514.5    Yes

[100 rows x 21 columns]

In [42]:
churn_df.tail(10)

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
7033  9767-FFLEM    Male              0  ...          69.50      2625.25     No
7034  0639-TSIQW  Female              0  ...         102.95      6886.25    Yes
7035  8456-QDAVC    Male              0  ...          78.70       1495.1     No
7036  7750-EYXWZ  Female              0  ...          60.65        743.3     No
7037  2569-WGERO  Female              0  ...          21.15       1419.4     No
7038  6840-RESVB    Male              0  ...          84.80       1990.5     No
7039  2234-XADUH  Female              0  ...         103.20       7362.9     No
7040  4801-JZAZL  Female              0  ...          29.60       346.45     No
7041  8361-LTMKD    Male              1  ...          74.40        306.6    Yes
7042  3186-AJIEK    Male              0  ...         105.65       6844.5     No

[10 rows x 21 columns]

In [43]:
churn_df.tail(1)

      customerID gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
7042  3186-AJIEK   Male              0  ...         105.65       6844.5     No

[1 rows x 21 columns]

In [45]:
churn_df['tenure'] > 50

0       False
1       False
2       False
3       False
4       False
        ...
7038    False
7039     True
7040    False
7041    False
7042     True
Name: tenure, Length: 7043, dtype: bool

In [46]:
churn_df.loc[[2,4,7041]]

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
2     3668-QPYBK    Male              0  ...          53.85       108.15    Yes
4     9237-HQITU  Female              0  ...          70.70       151.65    Yes
7041  8361-LTMKD    Male              1  ...          74.40        306.6    Yes

[3 rows x 21 columns]

In [49]:
churn_df[(churn_df.tenure > 50) & (churn_df.gender != 'Male')]

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
15    3655-SNQYZ  Female              0  ...         113.25      7895.15     No
16    8191-XWSZG  Female              0  ...          20.65      1022.95     No
23    3638-WEABW  Female              0  ...          59.90       3505.1     No
30    3841-NFECX  Female              1  ...          96.35      6766.95     No
35    6234-RAAPL  Female              0  ...          99.90       7251.7     No
...          ...     ...            ...  ...            ...          ...    ...
7023  1035-IPQPU  Female              1  ...         103.50       6479.4     No
7028  9281-CEDRU  Female              0  ...          64.10      4326.25     No
7034  0639-TSIQW  Female              0  ...         102.95      6886.25    Yes
7037  2569-WGERO  Female              0  ...          21.15       1419.4     No
7039  2234-XADUH  Female              0  ...         103.20       7362.9     No

[1022 rows x 21 columns]

In [52]:
churn_df[(churn_df.SeniorCitizen != '1') & (churn_df.gender != 'Female')]

      customerID gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
1     5575-GNVDE   Male              0  ...          56.95       1889.5     No
2     3668-QPYBK   Male              0  ...          53.85       108.15    Yes
3     7795-CFOCW   Male              0  ...          42.30      1840.75     No
6     1452-KIOVK   Male              0  ...          89.10       1949.4     No
9     6388-TABGU   Male              0  ...          56.15      3487.95     No
...          ...    ...            ...  ...            ...          ...    ...
7033  9767-FFLEM   Male              0  ...          69.50      2625.25     No
7035  8456-QDAVC   Male              0  ...          78.70       1495.1     No
7038  6840-RESVB   Male              0  ...          84.80       1990.5     No
7041  8361-LTMKD   Male              1  ...          74.40        306.6    Yes
7042  3186-AJIEK   Male              0  ...         105.65       6844.5     No

[3555 rows x 21 columns]

In [53]:
churn_df[(churn_df.TechSupport != 'No') & (churn_df.Churn != 'Yes')]

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
3     7795-CFOCW    Male              0  ...          42.30      1840.75     No
11    7469-LKBCI    Male              0  ...          18.95        326.8     No
14    5129-JLPIS    Male              0  ...         105.50      2686.05     No
15    3655-SNQYZ  Female              0  ...         113.25      7895.15     No
16    8191-XWSZG  Female              0  ...          20.65      1022.95     No
...          ...     ...            ...  ...            ...          ...    ...
7030  0871-OPBXW  Female              0  ...          20.05        39.25     No
7036  7750-EYXWZ  Female              0  ...          60.65        743.3     No
7037  2569-WGERO  Female              0  ...          21.15       1419.4     No
7038  6840-RESVB    Male              0  ...          84.80       1990.5     No
7042  3186-AJIEK    Male              0  ...         105.65       6844.5     No

[3147 rows x 21 columns]

In [55]:
churn_df[(churn_df.Contract == 'Month-to-month') & (churn_df.Churn != 'No')]

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
2     3668-QPYBK    Male              0  ...          53.85       108.15    Yes
4     9237-HQITU  Female              0  ...          70.70       151.65    Yes
5     9305-CDSKC  Female              0  ...          99.65        820.5    Yes
8     7892-POOKP  Female              0  ...         104.80      3046.05    Yes
13    0280-XJGEX    Male              0  ...         103.70       5036.3    Yes
...          ...     ...            ...  ...            ...          ...    ...
7018  1122-JWTJW    Male              0  ...          70.65        70.65    Yes
7026  8775-CEBBJ  Female              0  ...          44.20       403.35    Yes
7032  6894-LFHLY    Male              1  ...          75.75        75.75    Yes
7034  0639-TSIQW  Female              0  ...         102.95      6886.25    Yes
7041  8361-LTMKD    Male              1  ...          74.40        306.6    Yes

[1655 rows x 21 columns]

In [58]:
churn_df[(churn_df.TechSupport == 'Yes') & (churn_df.gender != 'Female')]

      customerID gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
3     7795-CFOCW   Male              0  ...          42.30      1840.75     No
14    5129-JLPIS   Male              0  ...         105.50      2686.05     No
24    6322-HRPFA   Male              0  ...          59.60       2970.3     No
28    5248-YGIJN   Male              0  ...          90.25      6369.45     No
48    7639-LIAYI   Male              0  ...          79.75       4217.8     No
...          ...    ...            ...  ...            ...          ...    ...
7007  2274-XUATA   Male              1  ...          63.10      4685.55     No
7021  1699-HPSBG   Male              0  ...          59.80        727.8    Yes
7027  0550-DCXLH   Male              0  ...          73.35       931.55     No
7038  6840-RESVB   Male              0  ...          84.80       1990.5     No
7042  3186-AJIEK   Male              0  ...         105.65       6844.5     No

[1017 rows x 21 columns]